.flex1{
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.flex1 div {
    background-color: white;
    border: 1px solid black;
    padding: 30px;
    margin: 20px;

}

.flex2{
    background-color: blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.flex2 div{
    background-color: white;
    border: 1px solid black;
    padding: 30px;
    margin: 20px;
}

.flex3{
    background-color: blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
    height: 500px;
}


.flex3 div{
    background-color: white;
    border: 1px solid black;
    padding: 30px;
    margin: 20px;
}